.kwowledge {
  border-radius: 10px;
  background: #fff;
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.35);
  height: 180px;
}

.kwowledge__icon {
  padding: 25px 45px 0 45px;
  display: flex;
  justify-content: center;
}

.div1 {
  grid-row-start: 1;
}

.div2 {
  grid-column-start: 2;
  grid-row-start: 3;
}

.div3 {
  grid-column-start: 3;
  grid-row-start: 1;
}

.div4 {
  grid-column-start: 4;
  grid-row-start: 3;
}

.div5 {
  grid-column-start: 1;
  grid-row-start: 8;
}

.div6 {
  grid-column-start: 2;
  grid-row-start: 10;
}

.div7 {
  grid-column-start: 3;
  grid-row-start: 8;
}

.div8 {
  grid-column-start: 4;
  grid-row-start: 10;
}

@media (max-width: 920px) {
  .div4 {
    grid-column-start: 1;
    grid-row-start: 15;
  }

  .div8 {
    grid-column-start: 2;
    grid-row-start: 17;
  }
}

@media (max-width: 720px) {
  .kwowledge {
    height: 150px;
  }

  .div1,
  .div2,
  .div3,
  .div4,
  .div5,
  .div6,
  .div7,
  .div8 {
    grid-column-start: initial;
    grid-row-start: initial;
  }
}

@media (max-width: 480px) {
  .kwowledge {
    height: 130px;
  }

  .kwowledge__icon {
    padding: 20px 20px 0 20px;
  }
  .kwowledge p {
    font-size: 14px;
  }
}
