.file{
    align-items: center;
    column-gap: 15px;
    width: auto;
}

.file__titulo{
    font-size: 22px;
    font-family: "Inter", sans-serif;
    transform: translateX(100%);
    transition: all ease .5s;
}

.file__titulo--hover{
    transform: translateX(0%);
    transition: all ease .8s;
}

.file__icono{
    font-size: 85px;
    transition: all ease .8s;
}

.file__icono--hover{
    transform: translateX(0%);
    transition: all ease .8s;
}

.file__img{
    position: relative;
    width: 80px;
    height: 80px;
    transition: all ease .8s;
}

.file__img--hover{
    transform: translateX(0%);
    transition: all ease .8s;
}

@media (max-width: 720px) {
    .file{
        display: flex;
        align-items: center;
        column-gap: 5px;
        width: auto;
        overflow: hidden;
    }

    .file__icono{
        font-size: 40px;
    }

    .file__titulo{
        font-size: 15px;
    }
    .file__img{
        width: 40px;
        height: 40px;
    }
}