.file{
    display: flex;
    align-items: center;
    column-gap: 15px;
    width: auto;
    overflow: hidden;

}

.file__titulo{
    font-size: 22px;
    font-family: "Inter", sans-serif;
    transform: translateX(100%);
    transition: all ease .5s;
}

.file__titulo--hover{
    transform: translateX(0%);
    transition: all ease .8s;
}

.file__icono{
    font-size: 85px;
}

.file__img{
    position: relative;
    width: 80px;
    height: 80px;
}