.nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: fixed;
}

.nav .enlace{
    text-decoration: none;
    color: #fff;
    text-align: center;
    padding: 1.5rem 1.4rem;
    border-bottom: 3px solid #fff;
    font-size: 15px;
}

.nav .enlace p{
    font-family: 'Playfair Display', serif;
}

.nav .enlace:hover{
    color: #010101;
    background-color: #FFDC00;
}

.enlace__redes{
    margin: 10px auto;
}

.icon--redes{
    font-size: 25px;
    color: #fff;
}

.icon--redes:last-of-type{
    margin-left: 6px;
}

.icon--redes:hover{
    color: #FFDC00;
}


