.proyecto{
}

.proyecto p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.proyecto__img{
    position: relative;
    width: 100%;
    transition: transform .3s;
}

.proyecto__img:hover{
    transform: scale(.98);
    transition: transform .3s;
}

.proyecto__texto{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.proyecto__texto--iconos{
    margin-left: 5px;
}
