.proyecto{
}

.proyecto p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.proyecto__img{
    position: relative;
    width: 100%;
}

.proyecto__texto{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.proyecto__texto--iconos{
    margin-left: 5px;
}
