.tituloSection{
    position: relative;
    height: 450px;
    width: 100%;
    margin-top: 25px;
}

.caja{
    position: absolute;
    background: #FFDC00;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}

.caja_1{
    width: 67px;
    height: 86px;
    top: 0%;
    left: 10%;
}

.caja_2{
    width: 67px;
    height: 142px;
    top: 25%;
    left: 30%;
}

.caja_3{
    width: 163px;
    height: 62px;
    top: 20%;
    right: 20%;
}

.caja_4{
    width: 67px;
    height: 86px;
    top: 45%;
    right: 20%;
}

.caja_5{
    width: 134px;
    height: 90px;
    top: 70%;
    right: 35%;
}

.caja_6{
    width: 67px;
    height: 86px;
    top: 65%;
    left: 15%;
}

.tituloSection h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Inter", sans-serif;
    color: rgba(0, 0, 0, 0.11);
    font-size: 75px;
    font-weight: 700;
}