@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-roboto: 'Roboto', sans-serif;
  --font-open-sans: 'Open Sans', sans-serif;
  --color-grey-primary: #525252;
  --color-black-transparent: rgba(0, 0, 0, 0.35);
  --tracking-title: 10px;
  --leading-title: 120px;
}
