.rowFlex{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    column-gap: 35px;
}

.rowFlex__left{
    flex: 0.35;
}

.rowFlex__rigth{
    flex: 1;
    display: grid;
    column-gap: 30px;
    grid-template-rows: repeat(14, 30px);
}