.nosotros {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0px;
}

.nosotros__texto {
  font-weight: 400;
  font-size: 28px;
  padding: 20px;
  line-height: 45px;
  width: 100%;
}

.nosotros__texto p {
  width: 90%;
}

.nosotros__button {
  margin-top: 50px;
  border: none;
}

.nosotros__button a {
  margin-top: 50px;
  padding: 20px 50px;
  border-radius: 6px;
  background-color: #ffdc00;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 20px;
  color: #000;
}

.nosotros__button a {
  text-decoration: none;
}

.nosotros__button a:hover {
  background-color: #ecd958;
}

@media (max-width: 920px) {
  .nosotros__texto {
    font-size: 18px;
    line-height: 30px;
  }

  .nosotros__button a {
    font-size: 18px;
  }
}

@media (max-width: 720px) {
  .nosotros {
    padding: 0;
  }

  .nosotros__texto {
    padding: 0;
  }

  .nosotros__texto p {
    font-size: 14px;
    line-height: 25px;
  }

  .nosotros__button a {
    font-size: 14px;
    padding: 10px 20px;
  }
}
