.nosotros{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0px;
}

.nosotros__texto{
    font-weight: 400;
    font-size: 28px;
    padding: 20px;
    line-height: 45px;
    width: 100%;
}

.nosotros__texto p{
    width: 90%;
}

@media (max-width: 920px) {
    .nosotros__texto{
        font-size: 18px;
        line-height: 30px;
    }
}

@media (max-width: 720px) {
    .nosotros{
        padding: 0;
    }

    .nosotros__texto{
        padding: 0;
    }
    
    .nosotros__texto p{
        font-size: 14px;
        line-height: 25px;
    }
}