.nosotros{
    display: flex;
    justify-content: space-between;
    padding: 100px 0px;
}

.nosotros__texto{
    font-weight: 400;
    font-size: 28px;
    flex: 1;
    padding: 20px;
    line-height: 45px;
}

.nosotros__texto p{
    width: 90%;
}