*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
  scroll-behavior: smooth;
}

body{
  box-sizing: border-box;
}

p, h1, h2, a, input, textarea{
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.06em;
}

.container{
  margin: 0 auto;
  width: min(1200px, 90%);
}